{% extends "base.html" %}
{% load staticfiles %}
{% block contenido %}
  <table style="width:40%">
  <tr>
    <td>Nombre</td>
    <td>Correo</td>
    <td>Editar</td>
    <td>Eliminar</td>
    <td>Exportar</td>
  </tr>

      {% for contacto in lista %}
        <tr class="renglon">
          <td>
            {{ contacto }}
          </td>
          <td>
            {{ contacto.correo }}
          </td>
          <td>
            <a href="/contacto/editarContacto?id={{ contacto.id }}">
              <img src="{% static "images/editar.png" %}" alt="Editar" width="15" height="15">
            </a>
          </td>
          <td>
            <a href="/contacto/eliminarContacto?id={{ contacto.id }}">
              <img src="{% static "images/eliminar.png" %}" alt="Eliminar" width="15" height="15">
            </a>
          </td>
          <td>
            <a href="/contacto/exportarContacto?id={{ contacto.id }}" target="_blank">
              <img src="{% static "images/pdf.png" %}" alt="Exportar a PDF" width="15" height="15">
            </a>
          </td>
        </tr>
      {% endfor %}
  </table>

{% endblock contenido %}